.container {
  display: grid;
  grid-template-rows: 1fr var(--talent-size);
  align-items: center;
  justify-content: center;
  width: 100%;
}

.talentButton {
  position: relative;
  display: block;
  height: var(--talent-size);
  width: var(--talent-size);
  padding: 0;
  border: 4px solid var(--c-lightgrey);
  outline: 0;
  cursor: pointer;
  background: url(./talent-icons-sprite.png);
  background-position-y: 50px;
  transition: border-color 100ms ease-out;
}

.isActive .talentButton {
  border-color: var(--c-brightblue);
  box-shadow: 0 0 10px 0 var(--c-white-alpha),
              inset 0 0 2px 2px var(--c-grey-alpha);
}

.talentButton:focus {
  box-shadow: 0 0 10px 0 var(--c-lightergrey),
              inset 0 0 2px 2px var(--c-grey-alpha);
}

.icon:hover {
  /* Using !important as it is overriding the inline style */
  background-position-y: 0 !important;
}

.talentButton::before,
.talentButton::after {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  width: 4px;
  height: calc(100% + 8px); /* offset for top/bottom borders */
  background: var(--c-brightblue); /* Fall back */
  background: linear-gradient(
    0deg,
    var(--c-lightgrey) 0%,
    var(--c-grey) 50%,
    var(--c-lightgrey) 51%,
    var(--c-lightgrey) 100%
  );
}

.isActive .talentButton::before,
.isActive .talentButton::after {
  background: var(--c-brightblue); /* Fall back */
  background: linear-gradient(
    0deg,
    var(--c-brightblue) 0%,
    var(--c-grey) 50%,
    var(--c-brightblue) 51%,
    var(--c-brightblue) 100%
  );
}

.talentButton::after {
  left: auto;
  right: -4px;
}

.connector {
  width: 16px;
  height: 50px;
  border: 1px solid var(--c-border);
  margin: auto;
  background: var(--c-darkgrey);
  transition: border-color 100ms ease-out,
              background 100ms ease-out;
}

.isActive .connector {
  border-color: var(--c-lightgrey);
  background: var(--c-grey);
  transition: border-color 100ms ease-in,
              background 100ms ease-in;
}

@media (min-width: 840px) {
  .container {
    grid-template-rows: auto;
    grid-template-columns: 1fr var(--talent-size);
  }

  .connector {
    height: 16px;
    width: 100%;
    margin: 0;
  }
}